.tupian{
   overflow: hidden;
    height: 62.25vh;
    width: 55vw;
    display: inline-block;
    margin: 1vw;
    margin-left: 3vw;
   position: relative;
   border-radius: 12px;
}
.tupian1{
    background-image: url('/image/1.gif');
    width: 55vw;
    height: 60vh;
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.tupian2{
    background-image: url('/image/2.gif');
    width: 55vw;
    height: 60vh;
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.tupian3{
    background-image: url('/image/3.gif');
    width: 55vw;
    height: 60vh;
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.tupian4{
    background-image: url('/image/4.gif');
    width: 55vw;
    height: 60vh;
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.tupian5{
    background-image: url('/image/5.gif');
    width: 55vw;
    height: 61vh;
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.tupian6{
    background-image: url('/image/5.gif');
    width: 55vw;
    height: 60vh;
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.tupian7{
     background-image: url('/image/1.gif');
    width: 55vw;
    height: 60vh;
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.butt{
    background-color: var(--tbpc-bg1-color, #f5f5f5);
    border: 1px solid var(--tbpc-bg1-alpha-color, rgba(0, 0, 0, .04));
    border-radius: 6px;
    display: inline-block;
    height: 10;
    margin: 0 4px;
    opacity: .6;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: width .2s linear;
    width: 12;
    cursor: pointer;

}
.button{
    background-color: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    margin: 0;
    outline: none;
    padding: 0;
    text-align:end;
}
.zhu{
    bottom: 20px;
    display:inline-block;
    font-size: 0;
    left: 16px;
    margin: 0;
    padding: 0;
    position: absolute;
    
}
.lunbou{
    background-color: var(--tbpc-white-color, #fff);
    opacity: 1;
    width: 24px;
}
