/* [project]/src/styles/modules/page.module.css [app-client] (css) */
.page-module__gICtzG__zhu {
  width: 100%;
  padding-left: 7.2rem;
  padding-right: 7.2rem;
}

.page-module__gICtzG__daohang {
  width: 100%;
}

.page-module__gICtzG__daohang1 {
  height: 2rem;
}

.page-module__gICtzG__daohang2 {
  width: 58vw;
  margin-top: .75rem;
  display: inline-block;
}

.page-module__gICtzG__daohangbiaoqian {
  float: left;
  margin-right: 1.2rem;
}

.page-module__gICtzG__daohangbiaoqian:hover .page-module__gICtzG__xiantext {
  cursor: pointer;
  display: block;
}

.page-module__gICtzG__daohangbiaoqian:hover .page-module__gICtzG__jiantou {
  transform: rotate(-91deg);
}

.page-module__gICtzG__daohangbiaoqian:hover {
  color: #ffa62a;
}

.page-module__gICtzG__daohang3 {
  display: inline-block;
}

.page-module__gICtzG__jiantou {
  margin-right: .3vw;
  -webkit-transition: transform .75s;
  transition: transform .75s;
  display: inline-block;
  transform: rotate(90deg);
}

.page-module__gICtzG__xiantext {
  z-index: 10001;
  margin-top: -1px;
  display: none;
  position: relative;
}

.page-module__gICtzG__xiantext1 {
  background: #fff;
  border: 1px solid #0000;
  border-radius: 12px;
  padding: .5vw;
  line-height: normal;
  position: absolute;
  top: .5vw;
  -webkit-box-shadow: 0 4px 24px #0a0a331f, 0 0 8px #0000000a;
  -moz-box-shadow: 0 4px 24px #0a0a331f, 0 0 8px #0000000a;
  box-shadow: 0 4px 24px #0a0a331f, 0 0 8px #0000000a;
}

.page-module__gICtzG__xiantext2 {
  white-space: nowrap;
  color: #000;
  border-radius: 8px;
  padding: 0 8px;
  line-height: 250%;
  display: block;
}

.page-module__gICtzG__xiantext1:before {
  content: "";
  background-color: #0000;
  width: 100%;
  height: 10px;
  display: block;
  position: absolute;
  top: -10px;
}

.page-module__gICtzG__xiantext2:hover {
  color: #000;
  background-color: #dfdfdf;
}


/* [project]/src/styles/modules/top.module.css [app-client] (css) */
.top-module__5yQfma__shousuo {
  width: 100%;
  padding: 3rem 3rem 1rem;
}

.top-module__5yQfma__top {
  grid-template-columns: auto 50% auto;
  place-items: center;
  width: 100%;
  display: grid;
}

.top-module__5yQfma__geitupianyong {
  width: 20rem;
  height: 8rem;
  display: block;
  position: relative;
}

.top-module__5yQfma__shousuolan {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 2px solid #e46330;
  border-radius: 12px;
  min-width: 45vw;
  height: 3vw;
  padding: .08vw;
  position: relative;
}

.top-module__5yQfma__shousuoanliu {
  float: right;
  color: #fff;
  cursor: pointer;
  background-color: #e65120;
  border-radius: 12px;
  width: 6vw;
  height: 2.6vw;
  font-size: 1.8rem;
}


/* [project]/src/styles/modules/xiaodaohang.module.css [app-client] (css) */
.xiaodaohang-module__9XpLlW__xiaodaohang {
  width: 100%;
}

.xiaodaohang-module__9XpLlW__xiaodaohang1 {
  grid-template-columns: auto auto auto auto auto auto;
  place-items: center;
  margin-bottom: 1vw;
  margin-left: 8vw;
  margin-right: 8vw;
  display: grid;
}

.xiaodaohang-module__9XpLlW__xiaodaohang2 {
  color: #e93333;
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: 900;
}

.xiaodaohang-module__9XpLlW__xiaodaohang3 {
  color: #37c823;
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: 900;
}

.xiaodaohang-module__9XpLlW__xiaodaohang4 {
  color: #000;
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: 900;
}

.xiaodaohang-module__9XpLlW__zhu {
  padding: 5vw;
}


/* [project]/src/styles/modules/fenlei1.module.css [app-client] (css) */
.fenlei1-module__XBNfkq__grid {
  grid-template-columns: 1.5fr 1fr;
  display: grid;
}

.fenlei1-module__XBNfkq__div {
  background-color: #f7f7f7;
  background-image: url("/image/1.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  width: 20vw;
  height: 14vh;
  margin: 1vw 1vw 1vw 2vw;
  display: block;
  position: relative;
}

.fenlei1-module__XBNfkq__div1 {
  background-color: #f7f7f7;
  background-image: url("/image/2.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  width: 20vw;
  height: 14vh;
  margin: 1vw 1vw 1vw 2vw;
  display: block;
  position: relative;
}

.fenlei1-module__XBNfkq__div2 {
  background-color: #f7f7f7;
  background-image: url("/image/3.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  width: 20vw;
  height: 14vh;
  margin: 1vw 1vw 1vw 2vw;
  display: block;
  position: relative;
}

.fenlei1-module__XBNfkq__div3 {
  background-color: #f7f7f7;
  background-image: url("/image/4.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  width: 20vw;
  height: 14vh;
  margin: 1vw 1vw 1vw 2vw;
  display: block;
  position: relative;
}


/* [project]/src/styles/modules/sangping.module.css [app-client] (css) */
.sangping-module__Cusx6G__shangping {
  background-color: #fcf8f8;
  border-radius: 12px;
  place-items: center;
  width: 18vw;
  height: 45vh;
  margin: 1.8vw;
  display: inline-block;
}

.sangping-module__Cusx6G__text {
  font-size: 3rem;
  font-weight: 700;
}

.sangping-module__Cusx6G__text1 {
  font-size: 1.5rem;
}


/* [project]/src/styles/modules/tupian.module.css [app-client] (css) */
.tupian-module__QbOh9q__tupian {
  border-radius: 12px;
  width: 55vw;
  height: 62.25vh;
  margin: 1vw 1vw 1vw 3vw;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.tupian-module__QbOh9q__tupian1 {
  background-image: url("/image/1.gif");
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  width: 55vw;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.tupian-module__QbOh9q__tupian2 {
  background-image: url("/image/2.gif");
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  width: 55vw;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.tupian-module__QbOh9q__tupian3 {
  background-image: url("/image/3.gif");
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  width: 55vw;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.tupian-module__QbOh9q__tupian4 {
  background-image: url("/image/4.gif");
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  width: 55vw;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.tupian-module__QbOh9q__tupian5, .tupian-module__QbOh9q__tupian6 {
  background-image: url("/image/5.gif");
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  width: 55vw;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.tupian-module__QbOh9q__tupian7 {
  background-image: url("/image/1.gif");
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  width: 55vw;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.tupian-module__QbOh9q__butt {
  background-color: var(--tbpc-bg1-color, #f5f5f5);
  border: 1px solid var(--tbpc-bg1-alpha-color, #0000000a);
  opacity: .6;
  cursor: pointer;
  border-radius: 6px;
  width: 12px;
  height: 10px;
  margin: 0 4px;
  padding: 0;
  transition: width .2s linear;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.tupian-module__QbOh9q__button {
  color: #0000;
  cursor: pointer;
  text-align: end;
  background-color: #0000;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: block;
}

.tupian-module__QbOh9q__zhu {
  margin: 0;
  padding: 0;
  font-size: 0;
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 16px;
}

.tupian-module__QbOh9q__lunbou {
  background-color: var(--tbpc-white-color, #fff);
  opacity: 1;
  width: 24px;
}


/*# sourceMappingURL=src_styles_modules_3fe60963._.css.map*/